/* 列表项进入/离开动画 */
.list-item-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.list-item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}

.list-item-exit {
  opacity: 1;
  transform: translateX(0);
}

.list-item-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: all 300ms ease-in-out;
}

/* 防止动画期间布局抖动 */
.list-item-exit-done {
  display: none;
}