/* 蒙层淡入/淡出动画 */
.modal-overlay-enter {
  opacity: 0;
}

.modal-overlay-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.modal-overlay-exit {
  opacity: 1;
}

.modal-overlay-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* 弹窗内容缩放+淡入动画（作为蒙层的子元素） */
.modal-overlay-enter .modal-content {
  opacity: 0;
  transform: scale(0.9);
}

.modal-overlay-enter-active .modal-content {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.modal-overlay-exit .modal-content {
  opacity: 1;
  transform: scale(1);
}

.modal-overlay-exit-active .modal-content {
  opacity: 0;
  transform: scale(0.9);
  transition: all 300ms ease-in-out;
}